.findus__main{
    width: 100%;
    display: flex;
    justify-content: center;

}
.findus__child{
    display: flex;
    width: 90%;
}
.icons{
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}
.findus__section{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
    justify-content: center;
    width: 35%;

}
.main__heading{
    position: relative;
}
.main__heading h1{
    margin: 0;
}
.main__heading div:nth-child(2){
    width: 20rem;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom:0rem;
    left:-8rem;

}
.main__heading div:nth-child(3){
    width: 2px;
    height: 10rem;
    background-color: black;
    position: absolute;
    top:-2rem;
    left:-2rem;
}
.icons img{
    object-fit: contain;

    width: 100%;
    height: 100%;
    transition: transform .3s;
}
.icons img:hover{
    transform: scale(1.3);
}
.social__icons{
    display: flex;
    gap:.5rem;
}
.icons:nth-child(3){
    transform: scale(1.2);
}
.icons:nth-child(3):hover{
    transform: scale(1.2);
}
.icons:nth-child(2){
    transform: scale(1.2);
}
.icons:nth-child(2):hover{
    transform: scale(1.2);
}
.subcribe{
    flex:1;
}
.subscribe__child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 12rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.subscribe__child h1:nth-child(1){
    position: absolute;
    top:-2.5rem;
    
}
.subscribe__child h1:nth-child(2){
    margin-bottom: 1rem;
    margin:0;
    font-weight: 400;
}
.subscribe__input{
    width: 80%;
    display: flex;
}
.subscribe__input input{
    border:2px solid black;
    border-right:none ;
   flex:1;
   font-size: 1rem;
   padding:0 1rem ;
   outline: none;
}
@media (max-width:756px) {
    .findus__child{
        flex-direction: column;
        align-self: center;
        gap:5rem;
    }
    .findus__section{
        
        width: 100%;
    
    }
    
}